@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Boogaloo&family=MedievalSharp&family=Pacifico&display=swap');
.ban {
    display: flex;
    flex-direction: column;
    font-family: "MedievalSharp", cursive;
    align-items: center;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/dragao.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.pin {
    text-align: center;
}

.text {
    text-align: center;
    font-size: 30px;
}

.btn {
    font-family: "MedievalSharp", cursive;
    font-size: 15px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
.btn:hover {
    background-color: grey;
    color: white;
}