.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.cartao {
  width: 220px;
  height: 380px;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 0.5px black;
}
.cartao img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}
.img {
  overflow: hidden;
  grid-row: span 4;
}
.titulo {
  height: 15%;
  font-size: 25px;
  text-align: center;
  border-bottom: 0.1px solid grey;
}
.price {
  padding-left: 1vw;
  height: 25%;
  align-content: center;
  font-size: 20px;
  font-weight: 600;
}
.button {
  height: 10%;
  display: flex;
}
.comprar {
  background-color: #38e54d;
  width: 50%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: 600;

  border-top: 0.1px solid grey;
  border-right: 0.1px solid grey;
}
.carrinho {
  background-color: #2192ff;
  width: 50%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: 600;
  color: black;
  border-top: 0.1px solid grey;
}
.preco {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .cartao {
    flex-shrink: 0;
    box-shadow: none;
    border: 1px solid black;
    margin: 1rem;
  }
  .container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}