@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
.containerprincipal {
  display: flex;
  gap: 6vw;
  background: rgb(130, 130, 130);
  justify-content: center;
  width: 100%;
  padding-bottom: 1vw;
}
.atendimento {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.25rem;
}

.titulo {
  margin-top: 2.5vh;
  margin-bottom: 1vh;
}

.institucional {
  font-size: 2.3vh;
  margin-left: 1.25rem;
}
.minhaconta {
  font-size: 2.3vh;
  margin-left: 1.25rem;
}

.nossasredes {
  margin-left: 1.25rem;
}

.svgstyle {
  height: 3vh;
  margin-right: 0.5vw;
}

.titulo {
  font-size: 3.7vh;
  font-family: "MedievalSharp", cursive;
}
.contatos {
  display: flex;
  align-items: center;
  font-size: 2.3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.meiodecontato {
  font-weight: bolder;
  margin: 0vw;
}
.svgstyle1 {
  height: 5.3vh;
}
.link {
  text-decoration: none;
  color: black;
}

.letranormal {
  transition: transform 0.1s;
  text-decoration: none;
  cursor: pointer;
}
.letranormal:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
}

@media (max-width: 600px) {
  .containerprincipal {
    flex-direction: column;
  }
}
