body {
  margin: 0px;
  box-sizing: border-box;
  height: 100vh; /* Set the body height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

#__next {
  flex: 1; /* Allow __next to take up the remaining space */
}
